body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}
a{
	text-decoration: none;
}
*{
	/*outline: 1px solid blue;*/
	padding: 0;
	margin: 0;
}
p{
	color:#5a5a5a;
	font-size: 1em;
	font-weight: 700;
	line-height: 1.8;
}
div#menu-line{
	position: fixed;
	top:0;
	right: 0;
	z-index: 9999;
	width: 100%;
	height: 100px;
	background-color: white;
	border-bottom: 1px solid lightgray;
}
#logo{
	font-size: 1.5em;
	color: #4c4c4c;
	float: left;
	margin-left: 35px;
	padding: 33px 0;
}
div#menu-line a:hover{
	text-shadow: 1px 1px 2px black;
}
nav#menu{
	float: right;
	margin-right: 175px;
	margin-top: 40px;
}
nav#menu a{
	display: inline-block;
	height: 20px;
	width: 80px;
	font-size: 0.75em;
	color: #a7a7a7;
	border-bottom: 1px transparent;
	transition: all 0.5s;
}
nav#menu a:nth-child(4) {
	border-left: 1px solid gray;	
}
nav#menu a:hover{
	text-shadow: 1px 1px 2px red;
}
nav#men a:active{
	color: black;
	border: 1px solid blue;
}

/*//////////////////////////////////////////*/
div#main-bkg {
	width: 100%;
	height:500px;
	margin-top: 100px;
	background-image: url("images/cinemagraph.gif");
	background-size: cover;
}
h1{
	font-weight: 900;
	font-size: 2.5em;
	text-transform: uppercase;
	color:#303030;
	padding: 10% 0 0 0;
}
#main-bkg p{
	padding: 0 0 0 0;
}
#main-bkg a{
	width: auto;
	height: auto;
	display: inline-block;
	margin:5% 0 0 0;
}
#main-bkg img{
	border:1px solid transparent;
	border-radius: 50%;
}
#main-bkg img:hover{
	border:1px dashed gray;
}
#main-text p{
	font-style: italic;
}
/*//////////////////////////////////////////*/
div.main-content{
	padding-bottom: 60px;
}
#content-title p, #team-title p, #contact-title p{
	font-weight: 900;
	font-size: 1.875em;
	text-transform: uppercase;
	color:#303030;
	padding: 45px 0 0 0;
	margin: 0px;
}
div.black-line{
	display: inline-block;
	width: 270px;
	height: 3px;
	background-color: #303030;
	margin:0 0 15px 0;
}
div#team-content div.black-line{
	width: 135px;
	margin:0 0 15px 0;
}
div#team-content{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
div#contact p{
	text-align: left;
}
div#contact-title div.black-line{
	width: 170px;
}
div.main-content a{
	display: inline-block;
    width: 260px;
    height: 170px;
    margin: 30px;
}
#team-content{
	background-color: #f3f3f3;
}
div.team-member{
	display: inline-block;
	width: 210px;
	height: 210px;
	background-color: white;
	margin: 35px 10px 80px 10px;
	border: 1.5px solid transparent;
	box-shadow: 0 2px 10px 2px #e2e2e2;
}
div.team-member>img{
	margin: 10px 0 0px 0;
	border:1px solid transparent;
	border-radius: 50%;
	box-shadow: inset 0 2px 10px 2px #cdcdcd;
}
div.team-member p:nth-child(2){
	font-family: Myriad Pro;
	font-size: 1em;
	font-weight: 500;
	color: #303030;
	text-transform: uppercase;
	margin:0;
}
div.team-member p:nth-child(3){
	font-family: Georgia;
	font-size: 0.75em;
	font-weight: 500;
	font-style: italic;
	color: #303030;
	margin:5px 0 15px 0;
}
div.team-member a{
	background: url(images/sprite.png) no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px 0 5px;
}
div.team-member a.twitter{
	background-position: -23px -2px;
}
div.team-member a.linkedin{
	background-position: -1px -2px;
}
div.team-member a.dribbel{
	background-position: -43px -2px;
}
div.team-member a.skype{
	background-position: -65px -2px;
}
div.team-member a.twitter:hover{
	background-position: -23px -26px;
}
div.team-member a.linkedin:hover{
	background-position: -1px -26px;
}
div.team-member a.dribbel:hover{
	background-position: -43px -26px;
}
div.team-member a.skype:hover{
	background-position: -65px -26px;
}
div.team-member a.twitter:active{
	background-position: -23px -51px;
}
div.team-member a.linkedin:active{
	background-position: -1px -51px;
}
div.team-member a.dribbel:active{
	background-position: -43px -51px;
}
div.team-member a.skype:active{
	background-position: -65px -51px;
}
/*div.team-member a img:hover{
	border:1px dashed gray;
}*/
/*****/
input, textarea{
	background-color: #f3f3f3;
}
div#contact{
	padding: 35px 0 70px 0;
}
div#location{
	display: inline-block;
	position: relative;
	width: 320px;
	height: 425px;
	margin: 0 30px 0 0;
}
div#location-title, div#message-title{
	padding: 15px 0 ;
}
div#map{
	width: 320px;
	height: 358px;
	box-shadow: 0 2px 10px 2px #e2e2e2;	
	border: 5px solid white;
	position: absolute;
	bottom: 0;
	left: 0;
}
div#message-box{
	display: inline-block;
	width: 540px;
	height: 425px;
	margin: 0 0 0 30px;
}
form#message-form{
	width: 540px;
	height: 367px;
	position: relative;
}
textarea{
	font-family: Georgia;
	font-style: italic;
	font-size: 1em;
	text-indent:30px;
	white-space: normal;
	padding-top: 25px;
	color: #5f5f5f;

	width: 538px;
	height: 235px;
	position: absolute;
	border: 1px solid #d9d9d9;
	top: 0;
	left: 0;
}

form#message-form input{
	font-family: Georgia;
	font-style: italic;
	font-size: 1em;
	text-indent:30px;
	color: #5f5f5f;

	display: inline-block;
	width: 310px;
	height: 65px;
	border: 1px solid #d9d9d9;
	margin: 0 0 0 0;
	position: absolute;
	bottom: 1px;
	left: 0;
}

form#message-form button{
	width: 213px;
	height: 68px;
	position: absolute;
	bottom: 1px;
	right: 0;
	border: none;
	background-color: transparent;
	border-top: 2px solid white;
	box-shadow: 0 2px 10px 2px #e2e2e2;
}

form#message-form button:hover {
	cursor: pointer;
}
/*////////////////////////////////////////*/
footer{
	background-color: #4f4f4f;
	height: 80px;
}
footer p{
	color: #6e6e6e;
	font-family: ProximaNova;
	display: inline-block;
}
footer p:nth-child(1){
	float: left;
	margin: 2.5% 0 0 12%;
}
footer p:nth-child(2){
	float: right;
	margin: 2.5% 12% 0 0;
}

a:visited{
	color: red;
	border: 1px solid red;
}

div.main-content>a:hover{
	border:1px dashed gray;
}
form a img :hover{
	border:1px dashed gray;
}

/*-------------Facebook button-----------*/
.wrapper {
	margin-top: 100px;
	display: inline-block;
	width: 520px;
	height: auto;
}

h1 {
	display: inline-block;
	width: 450px;
}

button.btn-facebook {
	display: inline-block;
	color: white;
	width: 500px;
	height: 40px;
	font-size: 14px;
    text-transform: uppercase;
    white-space: normal;
	background-color: #3b5998;
	border-radius: 17.5px;
	border: 1px solid gray;
	line-height: 1.5;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 7px 148px 7px;
}

strong.line-thru {
	display: inline-block;
	width: 500px;
	height: 1px;
	background-color: gray;
}

p.or {
	display:inline-block;
	position: relative;
	top: -15px;
	z-index: 1;
	background-color: white; 
	width: 40px;
}

h2.sign_header {
/*display: inline-block;*/
font-size: 16px;
margin-bottom: 20px;

}

form.regist input {
	padding-left: 15px;
	display: inline-block;
	width: 475px;
	height: 45px;
	background-color: white;
	font-size: 16px;
	margin:10px 0; 
}

input[target=_blank] {
	margin-left: -10px;
}

label {
	display: inline-block;
	width: 110px;
	height: 30px;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 320px;
	float: left;
}

select {
	display: inline-block;
	width: 100px;
	height: 45px;
	margin-top: 10px;
	margin-left: 5px;
	float: left;
	font-size: 16px;
}

#register-dob-day,
#register-dob-year {
	display:inline-block;
	width: 175px;
	height: 41px;
	margin-right: 5px;
}

#gender {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: white;
	margin-top: 20px;
}

button#sign-button {
	display: inline-block;
	width: 500px;
	height: 40px;
	margin-top: 15px;
	background-color: lightgreen;
	border: 1px solid gray;
	border-radius: 20px;
	font-size: 16px;
	letter-spacing: 1px;
	cursor: pointer;
}

.error {
	color: #FF0000;
}